# For searching YouTube
YOUTUBE_API_KEY=""

# For Spotify status
SPOTIFY_ID=""
SPOTIFY_SECRET=""

# For Discord song picker
DISCORD_BOT_TOKEN="" # your bot token
DISCORD_SERVER_ID="" # your server id
DISCORD_CHANNEL_ID="" # channel to send pickers in
DISCORD_PING="<@YOUR_USER_ID>" # user to ping when a selection is needed
